@model IEnumerable<Charityyy.Models.Event_Creation>
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<body>
    <div id="wrapper" class="clearfix">
        <div class="main-content">
            <!-- Section: inner-header -->
            <section class="inner-header divider parallax layer-overlay overlay-white-8" data-bg-img="/Content/images/bg/bg1.jpg">
                <div class="container pt-90 pb-50">
                    <!-- Section Content -->
                    <div class="section-content pt-100">
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="title text-theme-colored">Admin</h3>
                                @Html.ActionLink("See All Events", "seeAllEvents", "Admin", null, null)
                                <br />
                                @Html.ActionLink("See All Volunteers", "seeAllVolunteers", "Admin", null, null)
                                <br />
                                @Html.ActionLink("See All NGO's", "seeAllNgo", "Admin", null, null)
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <div class="container">
                    <div class="container-fluid">
                        @if (ViewBag.msg != null)
                        {
                            <div class="alert alert-success">
                                <strong>Success!</strong> @ViewBag.msg
                            </div>
                        }
                        <h4 class="title text-theme-colored text-center">Pending Events Approval</h4>
                        <br />



                        <table class="table table-dark">
                            <thead class="thead-inverse">
                                <tr>
                                    <td>Event Title</td>
                                    <td>Organized By</td>
                                    <td>Event Status</td>
                                    <td>View Details</td>
                                </tr>
                            </thead>
                            <tbody>
                                
                                @foreach (var event_details in Model)
                                {
                                    <tr>
                                        <td>@event_details.title</td>
                                        <td>@event_details.ngo_email</td>
                                        <td>@event_details.status</td>
                                        <td>@Html.ActionLink("Edit Event", "EditEvent", "Admin", new { eventID = event_details.event_id }, null)</td>
                                    </tr>
                                }
                            </tbody>

                        </table>
                    </div>

                </div>
            </section>


        </div>
    </div>
</body>


