@model IEnumerable<Charityyy.Models.Event_Creation>
@{
    ViewBag.Title = "View All Events";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <div id="wrapper" class="clearfix">
        <div class="main-content">
            <section>
                <div class="container">
                    <div class="container-fluid">
                        @if (ViewBag.msg != null)
                        {
                            <div class="alert alert-success">
                                <strong>@ViewBag.msg</strong> 
                            </div>
                        }
                        <h4 class="title text-theme-colored text-center">All Events</h4>
                        <br />



                        <table class="table table-dark">
                            <thead class="thead-inverse">
                                <tr>
                                    <th>Event Title</th>
                                    <th>Organized By</th>
                                    <th>Event Status</th>
                                    <th>Event Remark (if applicable)</th>
                                    <th>View Details</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var event_details in Model)
                                {
                                    <tr>
                                        <td>@event_details.title</td>
                                        <td>@event_details.ngo_email</td>
                                        <td>@event_details.status</td>
                                        @{ var remarks = event_details.Event_Remarks == null ? "Not Present" : event_details.Event_Remarks.remarks; }
                                        <td>@remarks </td>
                                        <td>@Html.ActionLink("See Details", "page_running_projects_details", "Ngo", new { eventID = event_details.event_id }, null)</td>
                                    </tr>
                                }
                            </tbody>

                        </table>
                    </div>

                </div>
            </section>
        </div>
    </div>
</body>

