<!DOCTYPE html>
<html>
<head>

    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
        /* Always set the map height explicitly to define the size of the div
        * element that contains the map. */
        #map {
            height: 100%;
        }
        /* Optional: Makes the sample page fill the window. */
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
        #wrapper{
            background:white !important; 
        }
    </style>
    <!-- Favicon and Touch Icons -->
    <link href="~/Content/images/favicon.png" rel="shortcut icon" type="image/png">
    <link href="~/Content/images/apple-touch-icon.png" rel="apple-touch-icon">
    <link href="~/Content/images/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72">
    <link href="~/Content/images/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114">
    <link href="~/Content/images/apple-touch-icon-144x144.png" rel="apple-touch-icon" sizes="144x144">

    <!-- Stylesheet -->
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/css/jquery-ui.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/css/animate.css" rel="stylesheet" type="text/css">
    <link href="~/Content/css/css-plugin-collections.css" rel="stylesheet" />
    <!-- CSS | menuzord megamenu skins -->
    <link id="menuzord-menu-skins" href="~/Content/css/menuzord-skins/menuzord-boxed.css" rel="stylesheet" />
    <!-- CSS | Main style file -->
    <link href="~/Content/css/style-main.css" rel="stylesheet" type="text/css">

    <!-- CSS | Theme Color -->

    <link href="~/Content/css/colors/theme-skin-orange.css" rel="stylesheet" type="text/css">
    <!-- CSS | Preloader Styles -->
    <link href="~/Content/css/preloader.css" rel="stylesheet" type="text/css">
    <!-- CSS | Custom Margin Padding Collection -->
    <link href="~/Content/css/custom-bootstrap-margin-padding.css" rel="stylesheet" type="text/css">
    <!-- CSS | Responsive media queries -->
    <link href="~/Content/css/responsive.css" rel="stylesheet" type="text/css">
    <!-- CSS | Style css. This is the file where you can place your own custom css code. Just uncomment it and use it. -->
    <!-- <link href="css/style.css" rel="stylesheet" type="text/css"> -->
    <!-- Revolution Slider 5.x CSS settings -->
    <link href="~/Content/js/revolution-slider/css/settings.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/js/revolution-slider/css/layers.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/js/revolution-slider/css/navigation.css" rel="stylesheet" type="text/css" />


    <script src="~/Content/js/jquery-2.2.4.min.js"></script>
    <script src="~/Content/js/jquery-ui.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>

    <script src="~/Content/js/jquery-plugin-collection.js"></script>

    <script src="~/Content/js/revolution-slider/js/jquery.themepunch.tools.min.js"></script>
    <script src="~/Content/js/revolution-slider/js/jquery.themepunch.revolution.min.js"></script>
    <title>@ViewBag.Title</title>

</head>
<body>
    <div id="wrapper" class="clearfix">
        <!-- preloader -->
        <div id="preloader">
            <div id="spinner">
                <i class="flaticon-charity-shelter font-60 text-theme-colored floating"></i>
                <h5 class="line-height-50 font-18">Loading...</h5>
            </div>
            <div id="disable-preloader" class="btn btn-default btn-sm">Disable Preloader</div>
        </div>


        <!-- Header -->
        <header class="header">
            <div class="header-top bg-theme-colored sm-text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="widget no-border m-0">
                                <ul class="styled-icons icon-dark icon-theme-colored icon-sm sm-text-center">
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="widget no-border m-0">
                                <ul class="list-inline pull-right flip sm-pull-none sm-text-center mt-5">
                                    <li class="m-0 pl-10 pr-10"> <i class="fa fa-phone text-white"></i> <a class="text-white" href="#">+92-312-3344312</a> </li>
                                    <li class="text-white m-0 pl-10 pr-10"> <i class="fa fa-clock-o text-white"></i> Mon-Fri 8:00 to 2:00 </li>
                                    <li class="m-0 pl-10 pr-10"> <i class="fa fa-envelope-o text-white"></i> <a class="text-white" href="#">contact@convenetoclean.com</a> </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="header-nav">
                <div class="header-nav-wrapper navbar-scrolltofixed bg-white">
                    <div class="container">
                        <nav id="menuzord-right" class="menuzord green no-bg">
                            <a class="menuzord-brand pull-left flip" href="javascript:void(0)"><img src="~/Content/images/logo-wide.png" alt=""></a>
                            <ul class="menuzord-menu">
                                <li class="">

                                    <a href="@Url.Action("Index","Home")">Home</a>
                                </li>
                           
                                <li>
                                    <a href="@Url.Action("About", "Home")">About us</a>

                                </li>
                                <li>
                                    <a href="@Url.Action("Contact", "Home")">Contact Us</a>
                                </li>
                                @if (Session["volunteer"] != null || Session["ngo"] != null || Session["admin"] != null)
                                {
                                    <li>
                                        <a href="@Url.Action("Logout", "Home")">Logout</a>
                                    </li>
                                    if (Session["volunteer"] != null)
                                    {
                                  
                                        <li>
                                            <a href="@Url.Action("volunteerProfile", "Volunteer")">Profile</a>
                                        </li>
                                    }
                                    else if (Session["admin"] != null)
                                    {
                                        <li>
                                            <a href="@Url.Action("adminProfile", "Admin")">Profile</a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li>
                                            <a href="@Url.Action("ngoprofile", "Ngo")">Profile</a>
                                        </li>
                                    }
                                }

                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        @RenderBody()
        <script src="~/Content/js/custom.js"></script>
        <!-- Footer -->
        <footer id="footer" class="bg-black-222">

            <div class="footer-bottom bg-black-333">
                <div class="container pt-20 pb-20">
                    <div class="row">
                        <div class="col-md-6">
                            <p class="font-11 text-black-777 m-0">Copyright &copy;2015 ThemeMascot. All Rights Reserved</p>
                        </div>
                        <div class="col-md-6 text-right">
                            <div class="widget no-border m-0">
                                <ul class="list-inline sm-text-center mt-5 font-12">
                                    <li>
                                        <a href="#">FAQ</a>
                                    </li>
                                    <li>|</li>
                                    <li>
                                        <a href="#">Help Desk</a>
                                    </li>
                                    <li>|</li>
                                    <li>
                                        <a href="#">Support</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        </div>
</body>
</html>