@{
    Layout = null;
}


<!DOCTYPE html>
<html dir="ltr" lang="en">

<!-- Mirrored from html.kodesolution.live/m/echarity/v2/demo/index-mp-layout1.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 31 Oct 2019 13:03:15 GMT -->
<head>

    <!-- Meta Tags -->
    <!-- Page Title -->
    <title>Convene to Clean </title>

    <!-- Favicon and Touch Icons -->
    <link href="~/Content/images/favicon.png" rel="shortcut icon" type="image/png">
    <link href="~/Content/images/apple-touch-icon.png" rel="apple-touch-icon">
    <link href="~/Content/images/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72">
    <link href="~/Content/images/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114">
    <link href="~/Content/images/apple-touch-icon-144x144.png" rel="apple-touch-icon" sizes="144x144">

    <!-- Stylesheet -->
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/css/jquery-ui.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/css/animate.css" rel="stylesheet" type="text/css">
    <link href="~/Content/css/css-plugin-collections.css" rel="stylesheet" />
    <!-- CSS | menuzord megamenu skins -->
    <link id="menuzord-menu-skins" href="~/Content/css/menuzord-skins/menuzord-boxed.css" rel="stylesheet" />
    <!-- CSS | Main style file -->
    <link href="~/Content/css/style-main.css" rel="stylesheet" type="text/css">

    <!-- CSS | Theme Color -->

    <link href="~/Content/css/colors/theme-skin-orange.css" rel="stylesheet" type="text/css">
    <!-- CSS | Preloader Styles -->
    <link href="~/Content/css/preloader.css" rel="stylesheet" type="text/css">
    <!-- CSS | Custom Margin Padding Collection -->
    <link href="~/Content/css/custom-bootstrap-margin-padding.css" rel="stylesheet" type="text/css">
    <!-- CSS | Responsive media queries -->
    <link href="~/Content/css/responsive.css" rel="stylesheet" type="text/css">
    <!-- CSS | Style css. This is the file where you can place your own custom css code. Just uncomment it and use it. -->
    <!-- <link href="css/style.css" rel="stylesheet" type="text/css"> -->
    <!-- Revolution Slider 5.x CSS settings -->
    <link href="~/Content/js/revolution-slider/css/settings.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/js/revolution-slider/css/layers.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/js/revolution-slider/css/navigation.css" rel="stylesheet" type="text/css" />


    <script src="~/Content/js/jquery-2.2.4.min.js"></script>
    <script src="~/Content/js/jquery-ui.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>

    <script src="~/Content/js/jquery-plugin-collection.js"></script>

    <script src="~/Content/js/revolution-slider/js/jquery.themepunch.tools.min.js"></script>
    <script src="~/Content/js/revolution-slider/js/jquery.themepunch.revolution.min.js"></script>


</head>
<body class="">
    <div id="wrapper">
        <!-- preloader -->
        <!-- Header -->
        <header class="header">
            <div class="header-top bg-theme-colored sm-text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="widget no-border m-0">
                                <ul class="styled-icons icon-dark icon-theme-colored icon-sm sm-text-center">
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="widget no-border m-0">
                                <ul class="list-inline pull-right flip sm-pull-none sm-text-center mt-5">
                                    <li class="m-0 pl-10 pr-10"> <i class="fa fa-phone text-white"></i> <a class="text-white" href="#">123-456-789</a> </li>
                                    <li class="text-white m-0 pl-10 pr-10"> <i class="fa fa-clock-o text-white"></i> Mon-Fri 8:00 to 2:00 </li>
                                    <li class="m-0 pl-10 pr-10"> <i class="fa fa-envelope-o text-white"></i> <a class="text-white" href="#">contact@yourdomain.com</a> </li>
                                </ul>
                            </div>
                        </div>
                        <!-- <div class="col-md-2">
                          <div class="widget no-border m-0">
                            <ul class="list-inline pull-right flip sm-pull-none sm-text-center mt-5">
                              <li class="mt-sm-10 mb-sm-10">

                                <a class="btn btn-default btn-flat btn-xs bg-light p-5 font-11 pl-10 pr-10" href="login-register.html">NGO</a>
                              </li>
                              <li class="mt-sm-10 mb-sm-10">
                                <a class="btn btn-default btn-flat btn-xs bg-light p-5 font-11 pl-10 pr-10" href="login-register.html">Volunteer</a>
                              </li>
                            </ul>
                          </div>
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="header-nav">
                <div class="header-nav-wrapper navbar-scrolltofixed bg-white">
                    <div class="container">
                        <nav id="menuzord-right" class="menuzord green no-bg">
                            <a class="menuzord-brand pull-left flip" href="javascript:void(0)"><img src="~/Content/images/logo-wide.png" alt=""></a>
                            <ul class="menuzord-menu">
                                <li class="">

                                    <a href="@Url.Action("Index","Home")">Home</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("page_running_projects", "Home")">Past Projects</a>

                                </li>
                                <!--  <li>
                                    <a href="@Url.Action("page_running_projects_details", "Home")">Upcoming Events</a>

                                </li>-->

                                <li>
                                    <a href="@Url.Action("About", "Home")">About us</a>

                                </li>
                                <li>
                                    <a href="@Url.Action("Contact", "Home")">Contact Us</a>

                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </header>

        <div class="main-content">

            <!-- Section: inner-header -->
            <!-- Section: About -->
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-md-5">
                            <h3 class="text-theme-colored text-uppercase mt-0">About Us</h3>
                            <p>Lorem ipsum dolor sit amet, consectet adipisicing elit. Quas, veniam nobis minima. Delectus, dolorem rerum, eos nemo dolore amet quis, eum debiti modi voluptatibus ducimus molestiae laborum itaque quam maxime dolor amit laboriosam aperiam exercitationem.Cos nemo dolore amet quis, eum debiti modi voluptatibus ducimus molestiae laborum itaque quam maxime dolor amit laboriosam aperiam exercitationem. Amit dolor sit.</p>
                            <div class="row mt-30 mb-30 ml-20">
                                <div class="col-xs-6">
                                    <ul class="mt-10">
                                        <li class="mb-10"><i class="fa fa-check-circle text-theme-colored"></i>&emsp;Education</li>
                                        <li class="mb-10"><i class="fa fa-check-circle text-theme-colored"></i>&emsp;Community</li>
                                        <li class="mb-10"><i class="fa fa-check-circle text-theme-colored"></i>&emsp;Education</li>
                                    </ul>
                                </div>
                                <div class="col-xs-6">
                                    <ul class="mt-10">
                                        <li class="mb-10"><i class="fa fa-check-circle text-theme-colored"></i>&emsp;Education</li>
                                        <li class="mb-10"><i class="fa fa-check-circle text-theme-colored"></i>&emsp;Teamwork</li>
                                        <li class="mb-10"><i class="fa fa-check-circle text-theme-colored"></i>&emsp;Creativity</li>
                                    </ul>
                                </div>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectet adipisicing elit. Quas, veniam nobis minima. Delectus, dolorem rerum, eos nemo dolore amet quis, eum debiti modi voluptatibus ducimus molestiae laborum itaque quam maxime dolor amit laboriosam aperiam exercitationem.</p>
                        </div>
                        <div class="col-sm-12 col-md-7">
                            <div class="owl-carousel-1col" data-dots="true">
                                <div class="item">
                                    <div class="thumb">
                                        <img src="~/Content/images/c1.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


            <!-- divider: Emergency Services -->




        </div>

        <footer id="footer" class="bg-black-222">

            <div class="footer-bottom bg-black-333">
                <div class="container pt-20 pb-20">
                    <div class="row">
                        <div class="col-md-6">
                            <p class="font-11 text-black-777 m-0">Copyright &copy;2019</p>
                        </div>
                        <div class="col-md-6 text-right">
                            <div class="widget no-border m-0">
                                <ul class="list-inline sm-text-center mt-5 font-12">
                                    <li>
                                        <a href="#">FAQ</a>
                                    </li>
                                    <li>|</li>
                                    <li>
                                        <a href="#">Help Desk</a>
                                    </li>
                                    <li>|</li>
                                    <li>
                                        <a href="#">Support</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>
    </div>
    <!-- end wrapper -->
    <!-- Footer Scripts -->
    <!-- JS | Calendar Event Data -->
    <script src="~/Content/js/calendar-events-data.js"></script>
    <!-- JS | Custom script for all pages -->
    <script src="~/Content/js/custom.js"></script>

    <!-- SLIDER REVOLUTION 5.0 EXTENSIONS
          (Load Extensions only on Local File Systems !
           The following part can be removed on Server for On Demand Loading) -->
    <script type="text/javascript" src="~/Content/js/revolution-slider/js/extensions/revolution.extension.actions.min.js"></script>
    <script type="text/javascript" src="~/Content/js/revolution-slider/js/extensions/revolution.extension.carousel.min.js"></script>
    <script type="text/javascript" src="~/Content/js/revolution-slider/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script type="text/javascript" src="~/Content/js/revolution-slider/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script type="text/javascript" src="~/Content/js/revolution-slider/js/extensions/revolution.extension.migration.min.js"></script>
    <script type="text/javascript" src="~/Content/js/revolution-slider/js/extensions/revolution.extension.navigation.min.js"></script>
    <script type="text/javascript" src="~/Content/js/revolution-slider/js/extensions/revolution.extension.parallax.min.js"></script>
    <script type="text/javascript" src="~/Content/js/revolution-slider/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script type="text/javascript" src="~/Content/js/revolution-slider/js/extensions/revolution.extension.video.min.js"></script>
</body>

<!-- Mirrored from html.kodesolution.live/m/echarity/v2/demo/index-mp-layout1.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 31 Oct 2019 13:06:48 GMT -->
</html>