@model Charityyy.Models.NonProfitOrganization
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Profile";
}

<body class="">
    <div id="wrapper" class="clearfix">
        <!-- Start main-content -->
        <div class="main-content">

            <!-- Section: inner-header -->
            <section class="inner-header divider parallax layer-overlay overlay-white-8" data-bg-img="/Content/images/bg/bg1.jpg">
                <div class="container pt-90 pb-50">
                    <!-- Section Content -->
                    <div class="section-content pt-100">
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="title text-theme-colored">NGO PROFILE</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="inner-header divider ">
                <div class="container  ">
                    @if (ViewBag.msg != null)
                    {
                        <div class="alert alert-success" role="alert">
                            @ViewBag.msg
                        </div>
                    }
                    <div class="section-content pt-50">
                        <div class="row">
                            <div class="col-md-6">

                                <label><strong>NGO Name : </strong>@Model.ngo_name</label>
                            </div>
                            <div class="col-md-6">
                                <label><strong>NGO Email : </strong>@Model.email</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label><strong>Mobile Number: </strong>@Model.mobile_number</label>
                            </div>
                            <div class="col-md-6">
                                <label><strong>Telephone Number: </strong>@Model.telephone_number</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label><strong>Address : </strong>@Model.address</label>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <div class="row">
                    <div class="container col-md-6">
                        <a class="btn btn-dark btn-lg btn-block no-border mt-15 mb-15" href="@Url.Action("CreateNewEvent", "Ngo")" data-bg-color="#3b5998">Create New Project</a>
                    </div>
                    <div class="container col-md-6">
                        <a class="btn btn-dark btn-lg btn-block no-border mt-15 mb-15" href="@Url.Action("ViewPastProjects", "Ngo")" data-bg-color="#3b5998">View Past Projects</a>
                    </div>
                </div>
            </section>

        </div>
    </div>
</body>
